.inner-main h2 {

    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    color: white;
    padding-top: 128px;
    
}

.inner-main p {

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: white;
    padding: 24px 0 96px 0;

}

.car-scroll::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  .car-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .car-scroll::-webkit-scrollbar-thumb {
    background: #000000;
  }
  
  /* Handle on hover */
  .car-scroll::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

.car-scroll {
    height: 574px;
    overflow: scroll;
    width: 100%;
    max-width: 925px;
    overflow-x: hidden;
    padding-right: 35px;
}

.car-scroll img {
    width: 100%;
    height: 100%;
    max-height: 570px;
    margin-top: 70px;
}

.car-scroll img:nth-child(1) {
    margin-top: 0px;
}

.scroll-collection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.scroll-text {
    font-size: 16.69px;
    font-weight: 300;
    color: #ABA6A6;
    width: 290.5px;
    margin-top: 94px;

}
.scroll-text h4 {
   margin-bottom: 10px;
}
.scroll-text h5 {
    color: #ABA6A6;
    font-weight: 200;
    margin-bottom: 45px;
    line-height: 20px;
}



/* Media queries for responsiveness */

/* For large screens (desktops and laptops) */
@media (min-width: 1200px) {
    .scroll-collection{
        padding: 0 20px;
    }
    .car-scroll {
      height: 700px;
      max-width: 1100px;
    }
    .car-scroll img {
        max-height: 500px;
        }
    .scroll-collection {
      margin-bottom: 200px;
    }
    .scroll-text {

      /* margin-top: 120px; */
      padding: 0 0px 0 30px;
    }
  }
  
  @media (max-width: 767px) {
  
}.car-scroll img {
  margin-top: 20px;
}

  /* For medium screens (tablets) */
  @media (min-width: 768px) and (max-width: 1199px) {
    .scroll-collection{
        padding: 0 20px;
        display: flex;
        /* flex-wrap: wrap; */
    }
    .car-scroll {
      height: 500px;
      max-width: 800px;
    }
    .car-scroll img {
      max-height: 490px;
    }
    .scroll-collection {
      margin-bottom: 100px;
      display: flex;
      justify-content: center;

    }
    .scroll-text {
  margin-top: 20px;
      padding: 0 0px 0 30px;
    }
  }
  
  /* For small screens (mobile devices) */
  @media (max-width: 767px) {

    .inner-main p {
    
      padding: 24px 0 52px 0;
  }
  .inner-main{
    padding: 0 20px;
  }
    .car-scroll {
      height: 300px;
      max-width: 500px;
    }
    .car-scroll img {
      max-height: 290px;
    }
    .scroll-collection {
      
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .scroll-text {
      width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .scroll-text h4 {
      margin-bottom: 5px;
    }
    .scroll-text h5 {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 525px) {
    .scroll-text {
    
      align-items: flex-start;
    
    }
    }
  
