.foter-container {
  padding: 156px 15px 156px 15px;

}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.top-footer,
ul,
.get-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.social-icon {
  display: flex;
  gap: 15px;
  color: #A5EFFF;
  font-size: 22px;
}

.inner-bottem-foter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-bottem-foter:nth-child(1) {
  padding: 164px 0 64px;
}

.svg-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.svg-icon span {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.6px;
  color: #6c6b65;
}

.like-us p {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  text-align: right;
  color: #D6D4CC;
}

.inner-bottem-foter input {
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -0.06em;
  background: transparent;
  border: none;
  color: #6c6b65;
  padding-bottom: 24px;
}

/* Media queries for responsiveness */

/* For large screens (desktops and laptops) */
@media (min-width: 1200px) {
  .foter-container {
    padding: 200px 15px 200px 15px;
  }
  .inner-bottem-foter:nth-child(1) {
    padding: 200px 0 100px;
  }
  .like-us p {
    font-size: 60px;
  }
  .inner-bottem-foter input {
    font-size: 100px;
  }
}

/* For medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .foter-container {
    padding: 150px 15px 150px 15px;
  }
  .inner-bottem-foter:nth-child(1) {
    padding: 150px 0 80px;
  }
  .like-us p {
    font-size: 40px;
  }
  .inner-bottem-foter input {
    font-size: 80px;
  }

}

/* For small screens (mobile devices) */
@media (max-width: 767px) {
  .foter-container {
    padding: 100px 15px 100px 15px;
  }
  .inner-bottem-foter:nth-child(1) {
    padding: 100px 0 50px;
  }
  .top-footer,
  ul,
  .get-btn {
    flex-direction: column;
    align-items: center;
  }
  .social-icon {
    justify-content: center;
  }
  .like-us p {
    font-size: 30px;
    text-align: center;
  }
  .inner-bottem-foter input {
    font-size: 60px;
  }
  .inner-bottem-foter {

  }
}

.footer-input{
  display: none;
}