.performence-inner {
    background-image: url(/public/performence.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 190px 0 60px 0;
}

.performence-inner h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
}

.performence-inner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 24px 0 42px 0;
}

.performence-button {
    text-align: center;
}
.content{
 position: relative;
    top: 58%;      
}