@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    background: #0D0D0D;
    color: white;

}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
}

li {
    list-style: none;
}




button:hover{
    background: red;

}
@media(max-width:1024px){
    .container{
        padding: 0px 20px;
    }
}